body {
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 60% !important;
}

.steps ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -31px;
  padding-top: 20px;
}
.steps ul li {
  background-color: rgb(86, 194, 86);
  padding: 10px 60px;
  text-align: center;
  border-radius: 5px;
}
.steps ul li[aria-disabled="false"] {
  background-color: blueviolet;
}

.steps ul li[aria-disabled="true"] {
  background-color: #e7e9eb;
}
.steps ul li[aria-disabled="true"] a {
  color: black;
  opacity: 0.3;
}
.steps ul li[aria-disabled="false"][aria-selected="false"] {
  background-color: rgb(107, 178, 107);
}
.steps ul a {
  text-decoration: none;
  font-size: large;
  color: white;
}
.steps .current-info {
  display: none;
}

.content {
  background-color: #e7e9eb;
  padding: 20px 30px;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 330px;
  overflow-y: auto;
  overflow-x: hidden;
}
.content .title {
  display: none;
}
.content .error {
  color: red;
}
.mandatory {
  color: red;
}
.actions ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.actions li {
  background-color: cornflowerblue;
  font-size: medium;
  border-radius: 5px;
  padding: 7px;
}
.actions .disabled {
  background-color: #e7e9eb;
  color: black;
}
.actions a {
  text-decoration: none;
  color: white;
}
